/* 全局样式文件 */
* {
  margin: 0;
  padding: 0;
}
body,
html,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
body {
  width: 100% !important;
}
a {
  text-decoration: none;
  color: #1890ff;
}

.likea {
  color: #1890ff;
  &:hover {
    cursor: pointer;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: hidden; */
}

html,
body {
  min-height: 600px;
}
@media only screen and (min-height: 800px) {
  html,
  body {
    min-height: 800px;
  }
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width_100 {
  width: 100%;
}

.height_100 {
  height: 100%;
}
